---
layout: layouts/base.njk
permalink: 404.html
eleventyExcludeFromCollections: true
---

<div class="wide-content">
  <h1>Oooops, wrong link.</h1>
  Get <a class="link accent" href="{{ '/' | url }}">back to the main page</a>
</div>
